html, body {
  min-height: 100vh;
}

#header {
  background-color: #fad87b;
  height: 120px;
  display: flex;
  align-items: center;
  border-bottom: 8px solid #00572d;
}

#logo-container {
  color: #00572d;
  font-weight: bold;
}

#top-nav-row, #left-nav {
  background-color: #ffc21b;
  text-align: center;
}

#left-nav {
  border-right: 3px solid #00572d;
  padding-right: 20px;
}

#top-nav-row {
  border-bottom: 3px solid #00572d;
  padding-right: 10px;
}

#search, #searchSM {
  margin-top: 10px;
  background-color: #fff;
  border: 2px solid #00572d;
  padding: 3px;
  border-radius: 5px;
}

.btn {
  background-color: #00572d;
}

.btn:hover {
  background-color: #278d5c;
}

#content {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  margin-bottom: 0;
}

#liquor-cabinet {
  background-image: url('../potential-bookshelves/liquor_texture2.png');
  border: 10px solid #00572d;
  border-radius: 10px;
  height: 600px;
  margin-top: 10px;
  padding-top: 10px;
  overflow: scroll;
  overflow-x: hidden;
}

#liquor-cabinetSM {
  display: flex;
  background-image: url('../potential-bookshelves/liquor_texture2.png');
  border: 10px solid #00572d;
  border-radius: 5px;
  width: 90%;
  margin: 10px auto;
  height: 100px;
  overflow: scroll;
  overflow-y: hidden;
}

#liquor-cabinetSM img {
  width: 50px;
}

#liquor-cabinet img, #liquor-cabinetSM img {
  cursor: pointer;
}

.hide {
  display: none;
}

#modal {
  border: 5px solid #00572d;
  box-shadow: 0 0 25px 5px black;
  height: 200px;
  width: 350px;
  background-color: #fff;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -100px;
  margin-left: -175px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  z-index: 20;
  padding: 5px;
}

#modal-alert {
  border: 5px solid #00572d;
  box-shadow: 0 0 25px 5px black;
  height: 200px;
  width: 350px;
  background-color: #fff;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -100px;
  margin-left: -175px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  z-index: 20;
}

#modal-buttons button {
  margin: 5px;
}

.cocktail-pic {
  max-width: 200px;
  border-radius: 20px;
  border: 3px solid #00572d;
  padding: 10px;
  margin: 10px;
}

#information-container {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 1150px) {
  #information-container {
    flex-direction: column;
  }
  .cocktail-pic {
    max-width: 400px;
  }
  #informantion-container div {
    max-width: auto;
  }
}

#information-container div {
  margin: 0 15px;
}

.clickable-ingredient {
  cursor: pointer;
}

.clickable-ingredient:hover {
  background-color: lightskyblue;
}

.footer-copyright {
  text-align: center;
}

.make-drink-button {
  margin-left: 10px;
}

@media screen and (max-width: 680px) {
  #information-container, #left-nav {
    display: none;
  }
  .cocktail-pic {
    max-width: 260px;
    margin: 0;
    padding: 0;
  }
}

@media screen and (min-width: 681px) {
  #information-containerSM, #top-nav-row {
    display: none;
  }
}

#top-nav {
  height: fit-content;
}

.cocktail-pic-container {
  position: relative;
  max-width: 260px;
  border-radius: 20px;
  border: 3px solid #00572d;
  padding: 10px;
  margin: 0;
  display: flex;
  align-items: center;
  overflow: scroll;
}

.cocktail-pic-container img {
  max-width: 100%;
  border: none;
  padding: 0;
  margin: 0;
  z-index: 10;
}

.cocktail-pic-container p {
  position: absolute;
  padding: 15px;
  font-weight: bold;
}

.opaque {
  opacity: 25%;
}

#drink1, #drink2, #drink3 {
  font-weight: bold;
}

#calories1, #calories2, #calories3, #caloriesNumSM1, #caloriesNumSM2, #caloriesNumSM3 {
  font-family: 'Orbitron', sans-serif;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #00572d;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}