html,
body {
  min-height: 100vh;
}

#header {
  height: 120px;
  display: flex;
  align-items: center;
}

#content {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  margin-bottom: 0;
}

#liquor-cabinet {
  background-image: url('../potential-bookshelves/barn-wood-texture-red-barn-wood-wood-background-wood.jpg');
  border: 10px solid coral;
  height: 600px;
  margin-top: 10px;
  padding-top: 10px;
}

#liquor-cabinet img {
  cursor: pointer;
}

.hide {
  display: none;
}

#modal {
  border: 5px solid goldenrod;
  height: 200px;
  width: 350px;
  background-color: blueviolet;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -100px;
  margin-left: -175px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
}

.cocktail-pic {
  max-width: 200px;
  border-radius: 20px;
  border: 3px solid black;
  padding: 10px;
  margin: 10px;
}

#information-container {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1150px) {
  #information-container {
    flex-direction: column;
  }
  .cocktail-pic {
    max-width: 400px;
  }
  #informantion-container div {
    max-width: auto;
  }
}

#information-container div {
  margin: 0 15px;
  max-width: 220px;
}

.clickable-ingredient {
  cursor: pointer;
}

.clickable-ingredient:hover {
  background-color: lightskyblue;
}

.footer-copyright {
  text-align: center;
}

.make-drink-button {
  margin-left: 10px;
}

/* responsive ingredients */
@media screen and (max-width: 480px) {
  #information-container,
  #left-nav {
    display: none;
  }
  .cocktail-pic {
    max-width: 260px;
    margin: 0;
    padding: 0;
  }
}

@media screen and (min-width: 481px) {
  #information-containerSM,
  #top-nav-row {
    display: none;
  }
}

#top-nav {
  height: 100px;
}

#information-containerSM {
}

.cocktail-pic-container {
  position: relative;
  max-width: 260px;
  border-radius: 20px;
  border: 3px solid black;
  padding: 10px;
  margin: 0;
  display: flex;
  align-items: center;
  overflow: scroll;
}

.cocktail-pic-container img {
  max-width: 100%;
  border: none;
  padding: 0;
  margin: 0;
  z-index: 10;
}

.cocktail-pic-container p {
  position: absolute;
  padding: 15px;
  font-weight: bold;
}

.opaque {
  opacity: 25%;
}
